/* only small desktops */
/* tablets */
/* only small tablets */
@media only screen and (min-width: 992px) and (max-width: 1180px) {
	.footer-area h3{
		font-size: 18px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.navbar-light .navbar-brand{
		margin-left: 15px;
	}
	.navbar-light .navbar-toggler{
		margin-right: 15px;
		border-radius: 0px;
	}
	.navbar-expand-lg .navbar-nav .dropdown-menu{
		box-shadow: none;
	}
	.carousel-control-prev{
		left: -60px;
	}
	.carousel-control-next{
		right: -60px;
	}
	.why-text h4{
		font-size: 18px;
	}
	.why-text p{
		margin: 0px;
	}
}

/* mobile or only mobile */
@media (max-width: 767px) {
	
	.bg-light {
    background-color: white;
	}
	.top-navbar .navbar-brand{
		margin-left: 15px;
		width: 80px;
	}
	.fixed-menu .navbar-brand {
    width: 50px;
}
	.navbar-light .navbar-toggler {
    border-color: rgb(255 255 255);
	
}
.fixed-menu .navbar-toggler {
    padding:2px 6px;
	background-color: #6ebb09;	
}
.slides-navigation a i {
    padding-top: 4px;
}
	.navbar-light .navbar-toggler{
		margin-right: 15px;
		border-radius: 0px;
	}
	.navbar-expand-lg .navbar-nav .dropdown-menu{
		box-shadow: none;
	}
	.cover-slides h1 {
    font-size: 30px;
    line-height: 47px !important;
	padding-top: 50px;
}
.slides-navigation a.prev {
    left: 2px;
}
.slides-navigation a.next {
    right: 2px;
}
.slides-navigation {
    display:none;
}
.slides-pagination {
    bottom: 40px;
}
.slides-pagination a {
    margin: 12px;
}
.f-social {
    margin-left: 15px;
}
	.cover-slides p {
		font-size: 14px;
	}
	.slides-navigation a{
		height: 42px;
		width: 38px;
		line-height: 33px;
	}
	.inner-column{
		margin-top: 15px;
	}
	.inner-column h1{
		font-size: 22px;
	}
	.filter-button-group{
		margin: 10px 0px;
	}
	
	.contact-imfo-box .col-md-4{
		margin-bottom: 15px;
	}
	.carousel-control-prev{
		left: 0px;
	}
	.carousel-control-next{
		right: 0px;
	}
	.blog-box-inner .blog-detail{
		overflow: hidden;
	}
	.blog-sidebar{
		margin-top: 50px;
	}
	.top-navbar .navbar-light .navbar-nav .nav-item {
    margin-left:0;
}
}
@media only screen and (min-width: 280px) and (max-width: 599px) {
	
	.why-text p{
		margin-bottom: 0px;
		margin-top: 0px;
	}
	.modal-bg {
    display: none;
}
.modal-dialog {
    margin: 2.5rem;
}

.offer-modal-out .modal-content {
    width: 100%;
}
.offer-modal-out .modal-dialog {
    max-width: 85%;
    background-color: #FFF;
}
.offer-modal-out .modal-content {
     padding-top:0; 
     padding-bottom: 0; 
}
.offer-modal-out .modal-header .close {
    margin-top: 15px;
    line-height: 0;
    height: 39px;
    padding-bottom: 4px !important;
    width: 39px;
}
.offer-modal-out .modal-title {
    font-size: 30px;
    font-weight: 900;
    padding-left: 21px;
    line-height: 40px;
    padding-top: 30px;
	color:#FFF !important;
}
.offer-pop-btn {
    padding: 9px 30px !important;
	margin-top: 15px !important;
}
.offer-modal-out .modal-header {
    background: url(../images/qt-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}	

.offer-modal-out .modal-header::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.50);
}

.inner-column h1 {
    
	font-size:25px;
	margin-top:40px;
}

.gallery-single {

    margin-top: 0;
    margin-bottom: 0px;
}

.address-sec-out {
    width: 90%;

}

.offset-1 {
    margin-left:0;
}
.footer-area h3 {
    margin-top: 30px;
}

.top-navbar .navbar-light .navbar-nav .nav-link {
    color: #000000;
}	
.top-navbar .navbar-light .navbar-nav .nav-item.active .nav-link {
    color: #000000;
}	
.fixed-menu .navbar-light .navbar-nav .nav-link {
    color: #FFFFFF;	
	}
	
	
.fixed-menu .navbar-light .navbar-nav .nav-item.active .nav-link {
    color: #FFFFFF;		
	}	
	
.slide-gallery-out {
    padding-bottom: 0;
}	
	
	
}
