   /*------------------------------------------------------------------
    IMPORT FONTS
-------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Arbutus+Slab');
@import url('https://fonts.googleapis.com/css?family=Athiti:400,500,600');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

/*------------------------------------------------------------------
    IMPORT FILES
-------------------------------------------------------------------*/

@import url(animate.css);
@import url(font-awesome.min.css);
@import url(superslides.css);
@import url(baguetteBox.min.css);

/*------------------------------------------------------------------
    SKELETON
-------------------------------------------------------------------*/

body {
    color: #666666;
    line-height: 1.80857;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}



a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: 120% !important;
    color: #1f1f1f;
    margin: 0;
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    opacity: .8
}

a {
    color: #1f1f1f;
    text-decoration: none;
    outline: none;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

ul, li, ol{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
button:focus{
	outline: none;
}

.form-control::-moz-placeholder {
    color: #2a2a2a;
    opacity: 1;
}

/*------------------------------------------------------------------
    LOADER 
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
    HEADER
-------------------------------------------------------------------*/
.top-navbar{
	position: relative;
	z-index: 10;
}

.top-navbar .navbar{
	padding: 10px 0px;
	position: absolute;
	bottom: 0;
	width: 100%;
	transition: height .3s ease-out, background .3s ease-out, box-shadow .3s ease-out;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	z-index: 100;
}
.top-navbar .navbar-brand {
    margin-right: 30px;
    padding: 0;
    position: relative;
    z-index: 1;
    width: 180px;
}
.top-navbar .navbar-brand img{
    width:100%;
}

.inner-nav{
	bottom: inherit !important;
}

.bg-light{
	background-color: transparent;
    background-repeat: no-repeat;

}

.top-navbar .navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    font-size: 14px;
    padding: 12px 25px;
    border-radius: 4px;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
}
.top-navbar .navbar-light .navbar-nav .nav-item{
	margin-left:10px;
}
.top-navbar .navbar-light .navbar-nav .nav-item .nav-link:hover{
	background: #be4210;
	color: #ffffff;
}
.top-navbar .navbar-light .navbar-nav .nav-item.active .nav-link {
    background: transparent;
    color: #ffffff;
    border-radius: 0;
}
.top-navbar .navbar-light .navbar-nav .nav-item:hover .nav-link {
    background: transparent;
    color: #ffffff;
    border-radius: 0;
}

.navbar-expand-lg .navbar-nav .dropdown-menu{
	border: none;
	box-shadow: 2px 5px 6px rgba(0,0,0,0.5);
	background-color: black;
}
.dropdown-item {
    color: #ffffff;

}



.navbar-expand-lg .navbar-nav .dropdown-menu a.dropdown-item:hover{
	background: #c42c1d;
	color: #ffffff;
}
.navbar-light .navbar-toggler:hover{
	background: #f6bf18;
}
.fixed-menu{
	position: fixed;
	top: 0;
	
}

.fixed-menu .navbar-brand{
	width: 65px;
}

.fixed-menu .navbar{
	background-color: #000000;
	position: fixed;
	top: 0;
	bottom: auto;
}
.fixed-menu .navbar-light .navbar-nav .nav-link {
    font-size: 14px;
    padding: 5px 20px;
    border-radius: 0;
}

/*------------------------------------------------------------------
    close button
-------------------------------------------------------------------*/
.sticky-button-out{
	padding-top: 0 !important;
}
.sticky-button ul {
  text-align: center;
}

.sticky-button ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sticky-button ul li {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #69ffb4;
  padding: 12px;
  text-decoration: none;
  font-size: 16px;
  color: black;
  display: block;
  position: relative;
  font-weight: 800;	
}

.sticky-button ul li:hover {
  background-color: rgb(122 207 3);
}

.sticky-button .close {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0%;
  padding: 12px 16px;
  transform: translate(0%, -50%);
}





/*------------------------------------------------------------------
    Slider
-------------------------------------------------------------------*/

.cover-slides{
	height: 90vh;
	position:relative;
}
/*.cover-slides::before{
	content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.30);
	z-index: 9;
}*/
.slide-content{
	z-index:99 !important;
	position:relative;
}
.slide-content .btn-primary {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
	width: 185px;
	margin-bottom: 10px;
}
.slide-content .btn-primary:hover {
    color: #fff;
    background-color: #ff8d00;
    border-color: #ff8d00;
}
.slides-navigation a {
	background: rgba(0,0,0,0.5);
	border: 1px solid #fb8c02;
    position: absolute;
    height: 50px;
    width: 50px;
    top: 50%;
    font-size: 10px;
    display: block;
    color: #fff;
	line-height: 60px;
	text-align: center;
    transition: all .3s ease-in-out;
}
.slides-navigation a i{
	font-size: 30px;
	padding-top: 8px;
}
.slides-navigation a:hover {
	background: #fb8c02;
}
.cover-slides .container{
	height: 100%;
	position: relative;
	z-index: 2;
}
.cover-slides .container > .row {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.cover-slides .container > .row {
    height: 100%;
}

.btn{
	text-transform: uppercase;
	padding: 19px 36px;
}
.btn{
	display: inline-block;
	font-weight: 600;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 2px solid transparent;
	padding: 12px 30px;
	font-size: 16px;
	line-height: 1.5;
	border-radius: .1875rem;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.btn-outline-new-white {
        color: #fff;
    background-color: #f6bf18;
    background-image: none;
    border-color: #f6bf18;
}
.btn-outline-new-white:hover {
    color: #ffffff;
    background-color: #f6bf18;
    border-color: #f6bf18;
}

.overlay-background {
    background: #333;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
	opacity: 0.5;
}

.cover-slides h1{
	font-family: 'Yeseva One', cursive;
	font-weight: 500;
	font-size: 72px;
	color: #fff;
    letter-spacing: 3px;
	
}
.cover-slides p{
	font-family: Catamaran,sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 24px;
    letter-spacing: 4px;
	color: #fff;
}
.slides-pagination a{
	border: 2px solid #ffffff;
}
.slides-pagination a.current{
	background: #cfa671;
	border: 2px solid #cfa671;
}

/*------------------------------------------------------------------
    About
-------------------------------------------------------------------*/

.about-section-box{
	padding: 70px 0px;
}

.inner-column{}
.inner-column h1{
    color: #010101;
    font-weight: 600;
	font-size: 34px;
    line-height: 38px;
    padding-bottom: 50px;
    letter-spacing: 3px;
}
.inner-column h1 span {
    color: #efb60a;    
}
.inner-column h4 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
	font-family: Catamaran,sans-serif;
    color: #4b4b4b;
	letter-spacing: 2px;
}
.inner-column p{
	font-size: 16px;
	
}
.inner-column .btn-outline-new-white{
	color: #c42c1d;
}
.inner-column .btn-outline-new-white:hover{
	color: #ffffff;
}

.aroma-logo{
	width: 270px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

.aroma-box img{
	width: 240px;
    height: 300px;
    -o-object-fit: cover;
    object-fit: cover;
    margin-top: 40px;
	border-radius: 6px;
}
.aroma-box h4 {
    font-size: 20px;
    color: #010101;
    font-weight: 600;
	margin-top: 20px;
}

.abt-left img{
	height: 100%;
	-o-object-fit: cover;
    object-fit: cover;
	border-radius: 8px;
}

/*------------------------------------------------------------------
    QT
-------------------------------------------------------------------*/
.middle-sec-out{
	text-align: center;
	
}
.middle-sec-out h4{
	font-family: Myriad Pro;
	font-size: 25px;
	color: #FFFFFF;
	text-align: center;
}
.middle-sec-out h2{
	font-family: Myriad Pro;
	font-size: 40px;
	color: rgb(255 141 0);
	font-weight: 900;
}

.qt-background{
	background:url(../images/par2.jpg) no-repeat;
	background-size: cover;
	padding: 100px 0;
	background-attachment: fixed;
	background-position: center center;
	position: relative;
}
.qt-background::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.50);
}

.qt-background p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #fff;
    margin-bottom: 20px;
}

.qt-background span {
    color: #fff;
    font-size: 20px;  
	font-weight: 500;	
}
.middle-sec-out .btn-primary {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}

.qt-background .btn-primary:hover {
    color: #fff;
    background-color: #ff8d00;;
    border-color: #ff8d00;;
}

/*------------------------------------------------------------------
    contact
-------------------------------------------------------------------*/

.slide-gallery-out{
	padding-top: 70px;
	padding-bottom: 50px;
	text-align: center;
}

.slider_gallery li img{
	border-radius: 10px;
}
.slider_gallery li p{
	margin-top: 20px;
}

.slide-gallery-out h2{
	font-family: Catamaran,sans-serif;
    font-weight: 700;
    font-size: 34px;
    line-height: 38px;
    color: #f1b144;
    letter-spacing: 3px;
	margin-bottom: 40px;
}



/*------------------------------------------------------------------
    contact
-------------------------------------------------------------------*/
.address-sec-out{
	text-align: center;
	width: 380px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
	border: 8px solid #161616;
	padding: 30px;
	border-radius: 10px;
}

.address-sec-out h2{
	font-size: 30px;
    font-weight: 700;
    color: #ec560f;
}

.address-sec-out p{
	font-family: Catamaran,sans-serif;
	font-size: 17px;
}
.middle-sec-out h4 {
    font-family: 'Catamaran', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 4px;
    font-weight: 700;
}
.middle-sec-out h2 {
    font-family: Myriad Pro;
    font-size: 35px;
    color: #f1b144;
    font-weight: 900;
    letter-spacing: 2px;
    margin-top: 20px;
}

.qt-background-contact{
	background:url(../images/mappic.jpg) no-repeat;
	background-size: cover;
	padding: 100px 0;
	background-attachment: fixed;
	background-position: center center;
	position: relative;
	z-index: 0;
}


.qt-background-contact::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.50);
	z-index: -1;
}

.qt-background p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #fff;
    margin-bottom: 20px;
}

.qt-background span {
    color: #fff;
    font-size: 20px;  
	font-weight: 500;	
}
.middle-sec-out .btn-primary {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}

.qt-background .btn-primary:hover {
    color: #fff;
    background-color: #ff8d00;;
    border-color: #ff8d00;;
}

/*------------------------------------------------------------------
    Menu
-------------------------------------------------------------------*/


.menu-block { margin-bottom: 30px; }
.menu-title { border-bottom: 3px solid #e0e6e3; margin-bottom: 36px; padding-bottom: 10px; font-size: 35px;
    font-weight: bold; text-transform: uppercase;}
.menu-content { border-bottom: 1px solid #e0e6e3; margin-bottom: 30px; }
.dish-img  { }
.dish-img img  { border-radius: 90px;}
.dish-content { margin-top: 12px; margin-bottom: 40px; }
.dish-meta { font-size: 13px; display: block;  line-height: 1.7; }
.dish-title { 
	margin-bottom: 12px;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    position: relative; 
}

.dish-price { position: absolute; right: 16px; top: 0px; font-size: 26px; color: #e03c23; font-weight: 500; font-family: 'Zilla Slab', serif; }
.well-block .dish-meta { width: 100%; }
.well-block .dish-price { font-size: 26px; color: #e03c23; font-weight: 500; font-family: 'Zilla Slab', serif; position: inherit; }


.menu-box{
	padding: 70px 0px;
}

.menu-hedding h2{
	text-align: center;
	
}
.menu-hedding h2{
	font-family: Roboto,sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #f1b144;
    letter-spacing: 6px;
    padding-bottom: 50px;
}
.menus .collapse-btn {
    background-color: transparent;
    border-color: transparent;
    padding: 0;
    width: 100%;
    text-align: left;
}

.heading-title{
	margin-bottom: 0;
}
.heading-title h2{
	color: #f1b144;
	font-size: 30px;
	font-weight: 900;
}
.heading-title p{
	font-size: 18px;
	font-weight: 200;
	margin: 0px;
}

.filter-button-group {
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    margin: 10px 15px;
    display: inline-block;
}

.filter-button-group button {
    color: #333;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    background: #fff;
    padding: 12px 40px;
    border: none;
    border-radius: 4px;
}

.filter-button-group button.active {
    background: #cfa671;
    color: #fff;
    box-shadow: 2px 20px 45px 5px rgba(0,0,0,.2);
}

.gallery-single{
	margin: 30px 0px;
}

.gallery-single {
    position: relative;
    overflow: hidden;
}

.why-text {
    height: 100%;
    padding: 12px 12px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.why-text h4{
	color: #242424;
    font-size: 20px;
    font-weight: 900;
}
.why-text h4 span{
	color: #EF070B;
	font-size: 20px;
	font-weight: 900;
}
.why-text h4 span{
	display:inline-block;
	float: right;
}
.why-text p{
	color: #565656;
    font-size: 14px;
    margin: 0px;
    padding-bottom: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
	font-family: Merienda;
}
.why-text h5{
	font-size: 28px;
	font-weight: 600;
	color: #ffffff;
}

.gallery-single:hover .why-text{
	bottom: 0px;
}
.more-menu .button{
	background-color: transparent;
	display: inline-block;
	margin-top: 50px;
}
.more-menu .btn-primary {
    color: #000;
    background-color: transparent;
    border-color: #E44E00;
}
.more-menu .btn-primary:hover {
    color: #FFFFFF;
    background-color:#E44E00;
    border-color: #E44E00;
	
}


/*------------------------------------------------------------------
    Gallery
-------------------------------------------------------------------*/

.gallery-box{
	padding: 70px 0px;
}
.tz-gallery{
	margin-top: 30px;
}
.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}


/*------------------------------------------------------------------
    Modal
-------------------------------------------------------------------*/
.offer-modal-out .modal-dialog {
    max-width: 850px;
	background-color:#FFF;
	margin-top:90px;
	
}

.modal-bg{
	background-image:url(../images/qt-bg.jpg);
	border-top-right-radius: 0;
    border-bottom-right-radius: 0;
	background-size: cover;
}
.offer-modal-out .modal-header .close {
    padding: 0;
    margin: 0;
    background-color: #f6bf18;
    border-radius: 61px;
    width: 36px;
    height: 36px;
    margin-top: -15px;
    margin-right: 0px;
    padding-bottom: 3px;
}
.offer-modal-out .modal-header {
    padding-top:0 !important;
	padding-bottom:0 !important;
}

.modal-header .close:focus-visible {
  outline: 0px !important;
}

.offer-modal-out .modal-content {
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FFF;
    width: 50%;
    border: 0;
    padding-top: 30px;
    padding-bottom: 0px;
}
.modal-left-content img{
	width:100px;
}
.offer-pop-btn {
    color: white;
    background-color: #f6bf18 !important;
    margin-top: 30px;
    width: fit-content !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    margin-bottom: 15px;
    padding: 9px 30px;
    font-weight: bold;
    text-transform: uppercase;
}
.offer-modal-out .modal-title {
	font-family: 'Arbutus Slab', serif;
    color: #333 !important;
    font-size: 37px;
    font-weight: 900;
    padding-left: 21px;
    line-height: 42px;
}

.offer-modal-out .modal-title span {
    color: #f6bf18 !important;

}

.offer-modal-out h6{
	font-size:20px;
	font-family: 'Arbutus Slab', serif;
	text-align:center;
}
.offer-modal-out p {
    text-align: center;
    color: #252525;
    font-size: 15px;
}
.offer-modal-out p a {
    color: #7fc540;
    font-weight: 700;
}


/*------------------------------------------------------------------
    Modal-new
-------------------------------------------------------------------*/
.buttons-modal-out .modal-title{
	font-size:30px;
	font-weight:bold;
	width: 100%;
}

.buttons-modal-out .modal-dialog {
    max-width: 600px;
	text-align:center;
}












/*------------------------------------------------------------------
    Customer Reviews
-------------------------------------------------------------------*/

.customer-reviews-box{
	padding: 70px 0px;
}

.carousel-inner .carousel-item .img-box{
	width: 135px;
	height: 135px;
}
.carousel-control-prev{
	left: -100px;
}
.carousel-control-next{
	right: -100px;
}
.carousel-indicators{
	top: 320px;
}

.text-warning{
	color: #222222 !important;
	font-size: 24px;
}

@media (min-width: 320px) and (max-width: 640px) {
	.carousel-inner .carousel-item p{
		font-size: 14px;
	}
	.carousel-control-prev{
		left: -5px;
	}
	.carousel-control-next{
		right: -5px;
	}
 	.carousel-indicators{
		top: 400px;
	}
}

#reviews .carousel-control-prev{
	background: #efefef;
	color: #ffffff;
	display: block;
	position: absolute;
	width: 8%;
	height: 50px;
	top: 50%;
	font-size: 28px;
	opacity: 1;
}
#reviews .carousel-control-prev:hover{
	background: #010101;
	color: #ffffff;
}

#reviews .carousel-control-next{
	background: #efefef;
	color: #ffffff;
	display: block;
	position: absolute;
	width: 8%;
	height: 50px;
	top: 50%;
	font-size: 28px;
	opacity: 1;
}
#reviews .carousel-control-next:hover{
	background: #b9b9b9;
	color: #ffffff;
}


/*------------------------------------------------------------------
    Contact info
-------------------------------------------------------------------*/
.contact-out{
	
}
.contact-form{
	background-color: #d7d7d7;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
}
    
iframe{
	border: none;
	margin: 0;
    padding: 0;
    display:block; /* Add this */
	height: 100%;
}
.contact-imfo-box{
	background: #e9711c;
	padding: 30px 0;
}

.overflow-hidden {
    overflow: hidden;
}

.contact-imfo-box i{
	display: block;
	float: left;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	background: #fff;
	color: #000;
	font-size: 30px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	margin-right: 20px;
}
.contact-imfo-box h4 {
    margin: 0px;
    margin-top: 5px;
	color: #fff;
	font-size: 20px;
	padding: 0px;
	font-weight: 700;
	line-height: 24px;
}
.contact-imfo-box p {
    margin: 0px;
    color: #fff;
    font-weight: 400;
    font-size: 15px;
	font-family: 'Roboto', sans-serif;
}

/*------------------------------------------------------------------
    Footer
-------------------------------------------------------------------*/

.footer-area{
	padding-top: 50px;
	padding-bottom: 0px;
}
.bg-f{
	
	background-attachment: scroll;
	background-clip: initial;
	background-color:#2B2B2B;
	background-origin: initial;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.bg-f::before {
    background: #010101;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
	opacity: 0.8;
}

.footer-area .container{
	position: relative;
	z-index: 1;
}
.footer-area h3{
	color: #ffffff;
	text-transform: uppercase;
	font-size: 24px;
	margin-bottom: 10px;
}
.footer-area p{
	font-size: 15px;
	color: rgba(255, 255, 255, 0.8);
	margin: 0;
	
}
.footer-area p .outer-span{
    padding-bottom: 10px;
}


.footer-area p.lead{
	font-size: 19px;
	color: #ffffff;
	margin-bottom: 15px;
}
.footer-area p.lead a{
	color: #ffffff;
	margin-bottom: 15px;
}
.footer-area p.lead a:hover{
	color: #c42c1d;
}
.footer-area p a{
	font-size: 18px;
	color: #ffffff;
}
.footer-area p a:hover{
	color: #c42c1d;
}

.subscribe_form {
    display: block;
    text-align: center;
    padding: 5px 0;
}

.subscribe_form .form_input {
    display: block;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    border: none;
    font-size: 19px;
    line-height: 50px;
    padding: 0 10px;
    float: left;
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.subscribe_form .submit {
    background-color: #c42c1d;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 50px;
    display: inline-block;
    padding: 0 10px;
    float: left;
    width: 100%;
	border: none;
	cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.subscribe_form .submit:hover{
	background: #010101;
}

.f-social {
    padding-bottom: 10px;
    margin: 0px;
    margin-top: 20px;
}
.f-social li a {
    font-size: 25px;
    color: rgba(255, 255, 255, 0.9);
	margin-right: 10px;
}

.copyright{
	margin-top: 20px;
	position: relative;
	display: block;
	background-color: #010101;
	border-top: 1px dashed rgba(207, 166, 113);
	padding: 30px 0;
	z-index: 1;
}

.copyright .company-name{
	font-size: 16px;
	text-align: center;
}
.copyright .company-name a{
	font-size: 16px;
}
.text-color{
	color: #f1b144;
	font-size: 16px;
	font-weight: bold;
}



/*------------------------------------------------------------------
    All Pages
-------------------------------------------------------------------*/

.page-breadcrumb {
    padding: 250px 0 150px;
    background: url(../images/all-bg.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 0;
    position: relative;
}
.all-page-title .container{
	position: relative;
	z-index: 2;
}
.all-page-title::before{
	background: #010101;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
	opacity: 0.8;	
}
.all-page-title h1{
	font-size: 38px;
	color: #ffffff;
	font-family: 'Arbutus Slab', serif;
	padding: 0px;
}

.inner-pt{
	margin-top: 30px;
}
.inner-pt p{
	font-size: 18px;
}

.stuff-box{
	padding: 70px 0px;
}

.our-team{
    border: 2px solid #c42c1d;
    border-radius: 0px;
    text-align: center;
    margin: 10px;
    z-index: 1;
    position: relative;
}
.our-team:before,
.our-team:after{
    content: "";
    width: 100%;
    height: 104%;
    background: #c42c1d;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    transform: translateY(-50%) scaleX(0.3);
    transition: all 0.3s ease 0s;
}
.our-team:after{
    width: 106%;
    left: 50%;
    transform: translate(-50%, -50%) scaleY(0.25);
}
.our-team:hover:before{ transform: translateY(-50%) scaleX(0.7); }
.our-team:hover:after{ transform: translate(-50%, -50%) scaleY(0.7); }
.our-team img{
    width: 100%;
    height: auto;
    border-radius: 0px;
    transition: all 0.3s ease 0s;
}
.our-team .team-content{
    width: 93%;
    padding: 25px 0 10px;
    background: #c42c1d;
    position: absolute;
    bottom: 50px;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: all 0.3s cubic-bezier(0.5, 0.2,0.1,0.9);
}
.our-team:hover .team-content{
    bottom: 10px;
    opacity: 1;
}
.our-team .title{
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0;
}
.our-team .post{
    display: block;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.our-team .social{
    padding: 0;
    margin: 0;
    list-style: none;
}
.our-team .social li{
    display: inline-block;
    margin: 0 5px;
}
.our-team .social li a{
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    background: #fff;
    font-size: 20px;
    color: #c42c1d;
    transition: all 0.3s ease 0s;
}
.our-team .social li a:hover{
    background: #ffffff;
    box-shadow: 0 0 0 5px rgba(255,255,255,0.3);
    color: #c42c1d;
}
@media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 30px; }
}


.reservation-box{
	padding: 70px 0px;
}

.reservation-box h3{
	padding: 0px 15px;
	margin-bottom: 20px;
	font-weight: 600;
}

.help-block ul li{
	color: red;
}

.form-control[readonly]{
	background-color: #ffffff;
}

.form-control{
	border-radius: 0px;
	min-height: 50px;
}
.form-control:focus{
	border: 1px solid #c42c1d;
	box-shadow: none;
}

.form-group .picker__input.picker__input--active{
	border-color: #c42c1d;
}

.submit-button{
	margin-top: 20px;
}
.btn.btn-common{
	color: #c42c1d;
	background-color: transparent;
	background-image: none;
	border-color: #cfa671;
}
.btn.btn-common:hover{
	color: #ffffff;
	background-color: #e9381c;
	border-color: #e9381c;
}
.blog-box{
	padding: 70px 0px;
}
.blog-box-inner{
	position: relative;
	margin-bottom: 30px;
}

.blog-box-inner .blog-img-box{
	position: relative;
	display: block;
}

.blog-box-inner .blog-detail{
	position: absolute;
	top: 0;
	background: #fff;
	padding: 30px 25px;
	border: 1px solid #ddd;
	transition-duration: .5s;
	height: 100%;
}

.blog-detail h4 {
    font-size: 18px;
    font-weight: 500;
    color: #222222;
}

.blog-detail ul li {
    display: inline-block;
    padding: 0px 5px;
}
.blog-detail ul li span{
	color: #c42c1d;
	cursor: pointer;
}
.blog-detail ul li span:hover{
	color: #010101;
}

.blog-detail ul li:first-child {
    padding-left: 0px;
}

.blog-detail p {
    padding: 10px 0px 0 0;
	margin: 0px;
}

.blog-detail a{
	color: #c42c1d;
	margin-top: 20px;
}

.blog-box-inner .blog-detail:hover{
	background: rgba(255, 255, 255, .9);
}

.blog-inner-box {
    position: relative;
    margin: 0px 10px;
    margin-bottom: 30px;
}
.side-blog-img {
    box-shadow: -15px -15px 0px 0px rgba(0,0,0,0.4);
    -webkit-transition: all 1s ease 0.01s;
    transition: all 1s ease 0.01s;
    position: relative;
}

.date-blog-up {
    position: absolute;
    right: 0px;
    top: 0px;
    background: #cfa671;
    font-size: 18px;
    color: #ffffff;
    padding: 5px 15px 5px 5px;
}
.inner-blog-detail {
    background: #ffffff;
    position: relative;
    padding: 30px 20px;
}

.inner-blog-detail h3 {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 15px;
}
.inner-blog-detail ul li {
    display: inline-block;
    padding: 0px 5px;
    color: #222222;
}
.inner-blog-detail ul li span {
    color: #cfa671;
}
.inner-blog-detail p {
    padding: 10px 0px;
}
.details-page blockquote {
    border-left: 5px solid #cfa671;
}
.details-page blockquote {
    padding: 20px;
}
blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}
.blog-inner-details-line {
    margin: 20px 0px;
    clear: both;
    float: left;
    width: 100%;
}
.line-left-social h5 {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 15px;
}
.line-left-social ul li {
    display: inline-block;
    margin-bottom: 5px;
}
.line-right-social ul li {
    display: inline-block;
}
.line-right-social ul li a {
    display: block;
    padding: 5px;
    background: #f5f5f5;
    border-radius: 6px;
    font-weight: 500;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 25px;
    font-size: 15px;
}
.line-left-social ul li a {
    display: block;
    padding: 5px 10px;
    background: #f5f5f5;
    border-radius: 6px;
    font-weight: 400;
    font-size: 12px;
}
.line-left-social ul li a:hover {
    background: #cfa671;
    color: #ffffff;
}
.line-right-social ul li a:hover {
    background: #cfa671;
    color: #ffffff;
}
.line-right-social h5 {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 15px;
}
.blog-comment-box {
    clear: both;
    margin: 20px 0px;
    float: left;
    width: 100%;
}
.blog-comment-box h3 {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 20px;
}
.comment-item {
    margin-bottom: 30px;
}
.comment-item-left {
    float: left;
    width: 90px;
    height: 90px;
}
.comment-item-left img {
    width: 100%;
    border-radius: 6px;
}
.comment-item-right {
    padding-left: 110px;
}
.comment-item-right a {
    font-size: 16px;
    font-weight: 500;
}
.des-l {
    display: inline-block;
    width: 100%;
}
.des-l p {
    font-size: 13px;
}
.comment-item-right a {
    font-size: 16px;
    font-weight: 500;
}
.right-btn-re {
    float: right;
    font-style: italic;
    text-align: right;
    font-size: 16px;
    padding: 5px 10px;
    background: #f5f5f5;
    border-radius: 6px;
}
.right-btn-re:hover {
    background: #cfa671;
    color: #ffffff !important;
}
.comment-respond-box {
    clear: both;
}
.blog-comment-box .children {
    margin-left: 70px;
}
.comment-item {
    margin-bottom: 30px;
}
.comment-item-right i {
    padding-right: 10px;
}

.comment-form-respond input {
    min-height: 38px;
    border: 1px solid #010101;
    border-radius: 0px;
    padding: 10px;
}
.comment-form-respond textarea {
    border: 1px solid #010101;
    border-radius: 0px;
    padding: 10px;
    min-height: 110px;
}

.btn-submit{
	color: #c42c1d;
	background-color: transparent;
	background-image: none;
	border-color: #cfa671;
}
.btn-submit:hover{
	color: #ffffff;
	background-color: #cfa671;
	border-color: #cfa671;
}

.right-side-blog h3 {
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 20px;
}
.blog-search-form {
    position: relative;
    border-bottom: 1px solid #010101;
    padding-bottom: 30px;
    margin-bottom: 20px;
}
.blog-search-form input {
    width: 100%;
    min-height: 40px;
    border: 1px solid rgba(0,0,0,0.3);
    padding: 5px 40px 5px 10px;
    font-size: 15px;
    color: #222222;
}
.blog-search-form .search-btn {
    position: absolute;
    right: 0px;
    background: none;
    border: none;
    font-size: 20px;
    min-height: 40px;
    padding: 0px 15px;
}

.right-side-blog h3 {
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 20px;
}
.blog-categories {
    padding-bottom: 30px;
    margin-bottom: 20px;
}
.blog-categories ul li {
    line-height: 14px;
    padding: 10px 0px;
    border-top: 1px solid #f5f5f5;
}
.blog-categories ul li a {
    display: inline-block;
    text-transform: capitalize;
    width: 100%;
}
.blog-categories ul li a:hover{
	color: #cfa671;
}
.recent-box-blog {
    margin-bottom: 20px;
	display: inline-block;
}
.recent-img {
    float: left;
    position: relative;
}
.recent-img::before {
    position: absolute;
    content: '';
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #cfa671;
    opacity: 0.4;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.recent-box-blog:hover .recent-img::before {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
.recent-info {
    display: table-cell;
    vertical-align: top;
    padding-left: 15px;
}
.recent-info ul li {
    display: inline-block;
    font-size: 11px;
    padding: 0px;
    color: #222222;
}
.recent-info h4 {
    font-size: 14px;
    padding: 0px;
    margin: 11px 0px;
    font-weight: 500;
}
.blog-tag-box ul li {
    display: inline-block;
    margin-bottom: 3px;
}
.blog-tag-box ul li a {
    padding: 5px 15px;
    display: block;
    background: #f5f5f5;
    color: #222222;
    border-radius: 6px;
}
.blog-tag-box ul li a:hover {
    color: #ffffff;
    background: #cfa671;
}


.contact-box{
	padding: 70px 0px;
}

.map-full {
    width: 100%;
    height: 420px;
    border-radius: 0px;
    margin: 0px auto;
}

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #ecb60f;
    color: #000000;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
	font-size: 30px;
}



























