<!DOCTYPE html>
<html lang="en"><!-- Basic -->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Site Metas -->
	<title>Master Of India Napier</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Site Icons -->
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<!-- Site CSS -->
	<link rel="stylesheet" href="css/style.css">
	<!-- Responsive CSS -->
	<link rel="stylesheet" href="css/bxslider.css">
	<!-- bxslider CSS -->
	<link rel="stylesheet" href="css/responsive.css">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="css/custom.css">

	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="rp-app">

	<!-- Start slides -->
	<div id="slides" class="cover-slides">
		<ul class="slides-container">
			<li class="text-center">
				<img src="images/slider1.jpg" alt="">
				<div class="container">
					<div class="row">
						<div class="col-md-12 slide-content">
							<h1 class="m-b-20"><strong>Welcome To {{ (siteData) ? siteData.hotelName : ''}}</strong>
							</h1>
							<p class="m-b-40">{{(siteData) ? siteData.description : ''}} </p>
							<p><a class="button" href="https://onlineorder.sipocloudpos.com/467276"><button
										type="button" class="btn btn-primary">ORDER ONLINE</button></a>
								<a class="button" href="https://table.sipocloudpos.com/467276"><button type="button"
										class="btn btn-primary">BOOK TABLE</button></a>
							</p>

						</div>
					</div>
				</div>
			</li>
			<li class="text-center">
				<img src="images/slider2.jpg" alt="">
				<div class="container">
					<div class="row">
						<div class="col-md-12 slide-content">
							<h1 class="m-b-20"><strong>Welcome To {{ (siteData) ? siteData.hotelName : ''}}</strong>
							</h1>
							<p class="m-b-40">{{(siteData) ? siteData.description : ''}} </p>
							<p><a class="button" href="https://onlineorder.sipocloudpos.com/467276"><button
										type="button" class="btn btn-primary">ORDER ONLINE</button></a>
								<a class="button" href="https://table.sipocloudpos.com/467276"><button type="button"
										class="btn btn-primary">BOOK TABLE</button></a>
							</p>
						</div>
					</div>
				</div>
			</li>
			<li class="text-center">
				<img src="images/slider3.jpg" alt="">
				<div class="container">
					<div class="row">
						<div class="col-md-12 slide-content">
							<h1 class="m-b-20"><strong>Welcome To {{ (siteData) ? siteData.hotelName : ''}}</strong>
							</h1>
							<p class="m-b-40">{{(siteData) ? siteData.description : ''}} </p>
							<p><a class="button" href="https://onlineorder.sipocloudpos.com/467276"><button
										type="button" class="btn btn-primary">ORDER ONLINE</button></a>
								<a class="button" href="https://table.sipocloudpos.com/467276"><button type="button"
										class="btn btn-primary">BOOK TABLE</button></a>
							</p>
						</div>
					</div>
				</div>
			</li>
			<li class="text-center">
				<img src="images/slider4.jpg" alt="">
				<div class="container">
					<div class="row">
						<div class="col-md-12 slide-content">
							<h1 class="m-b-20"><strong>Welcome To {{ (siteData) ? siteData.hotelName : ''}}</strong>
							</h1>
							<p class="m-b-40">{{(siteData) ? siteData.description : ''}} </p>
							<p><a class="button" href="https://onlineorder.sipocloudpos.com/467276"><button
										type="button" class="btn btn-primary">ORDER ONLINE</button></a>
								<a class="button" href="https://table.sipocloudpos.com/467276"><button type="button"
										class="btn btn-primary">BOOK TABLE</button></a>
							</p>
						</div>
					</div>
				</div>
			</li>

		</ul>
		<div class="slides-navigation">
			<a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
			<a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
		</div>
	</div>
	<!-- End slides -->

	<!-- Start header -->
	<header class="top-navbar top-header">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="index.html">
					<img src="images/logo.png" alt="" />
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food"
					aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-rs-food">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li>
						<li class="nav-item"><a class="nav-link" href="#about">About us</a></li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="https://onlineorder.sipocloudpos.com/467276"
								id="dropdown-a" data-toggle="dropdown">Menu</a>
							<div class="dropdown-menu" aria-labelledby="dropdown-a">
								<a class="dropdown-item" href="#">Takeaway Menu</a>
								<a class="dropdown-item" href="#">Dine in Menu</a>
								<a class="dropdown-item" href="#">Vegan Menu</a>
								<a class="dropdown-item" href="#">Drinks Menu</a>
								<a class="dropdown-item" href="#">Combo Deals</a>
								<a class="dropdown-item" href="#">Lunch Special Menu</a>
								<a class="dropdown-item" href="#">Dinner Menu</a>

							</div>
						</li>
						<li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- End header -->

	<!-- Start About -->
	<div class="about-section-box sticky-button-out">
		<div class="sticky-button">
			<ul>
				<li><span class="close">&times;</span></li>
			</ul>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<div class="inner-column">
						<div class="aroma-logo">
							<img src="images/logo.png" class="img-fluid">
						</div>

						<h1>THE BEST INDIAN RESTAURENT IN NAPIER</h1>
						<div class="col-sm-10 offset-1">
							<div class="row">
								<div class="col-sm-4 aroma-box">
									<a href="#">
										<img src="images/aroma-01.jpg" alt="">
										<h4>MENU</h4>
									</a>

								</div>
								<div class="col-sm-4 aroma-box">
									<a href="#">
										<img src="images/aroma-02.jpg" alt="">
										<h4>BOOK A TABLE</h4>
									</a>
								</div>
								<div class="col-sm-4 aroma-box">
									<a href="#">
										<img src="images/aroma-03.jpg" alt="">
										<h4>CONTACT US</h4>
									</a>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End About -->

	<!-- Start QT -->
	<div class="qt-box qt-background">
		<div class="container">
			<div class="row">
				<div class="col-md-8 ml-auto mr-auto middle-sec-out">
					<h4>{{ (siteData) ? siteData.hotelName : ''}}</h4>
					<h2>INDIAN CUISINE</h2>
					<p>Welcome to {{ (siteData) ? siteData.hotelName : ''}} Authentic Indian Restaurant in Napier. We're
						located at 78 Bridge Street, Ahuriri, Napier. We accept online table booking, you can reserve
						your table in advance or Order online for Home Delivery and Takeaways in Napier.</p>
					<p><a class="button" href="#"><button type="button" class="btn btn-primary" data-toggle="modal"
								data-target="#myModal">check our menu</button></a></p>
				</div>
			</div>
		</div>
	</div>
	<!-- End QT -->



	<div class="slide-gallery-out">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h2>CHEF SPECIALS</h2>
				</div>
				<div class="col-sm-12">
					<ul class="slider_gallery">
						<li>
							<img src="images/fish_tikkaa.jpg">
							<p>Fish tikka</p>
						</li>
						<li>
							<img src="images/gulab_jamun_blacka.jpg">
							<p>Gulab Jamun</p>
						</li>
						<li>
							<img src="images/mango_kultia.jpg">
							<p>Mango Kulfi</p>
						</li>
						<li>
							<img src="images/onion_bhajia.jpg">
							<p>Onion Bhaji</p>
						</li>
						<li>
							<img src="images/tangoli_kebab_black_golda.jpg">
							<p>Tangoli Kebab</p>
						</li>
						<li>
							<img src="images/vegetable_samosaa.jpg">
							<p>Vegetable Samosa</p>
						</li>
					</ul>
				</div>
			</div>
		</div>

	</div>


	<h1 id="about"></h1>
	<!-- Start About -->
	<div class="about-section-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 abt-left">
					<img src="images/about.jpg" alt="" class="img-fluid">
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="inner-column">
						<h4>{{ (siteData) ? siteData.hotelName : ''}}</h4>
						<h1>WHAT WE RECOMMEND</h1>
						<h4>OUR FOOD</h4>
						<p>We offer many options for food allergy, vegetarian and vegan customers. Please talk to one of
							our friendly staff to get what we can do best to meet your expectations.</p>

						<h4>SEATING</h4>
						<p>Booth – Soft and comfortable lounge for privacy up to 6 people. Bar Area – high table,
							cushioned chair setting with big TV viewing Sky Sport up to a group of 12. Dining Area –
							offer seating for a single up to large group booking.</p>

						<h4>FUNCTION ROOM HIRE FOR YOUR PRIVATE PARTY</h4>
						<p>Hold a private party in the function room at our Napier restaurant. We can cater for up to 70
							people with our set menu. Send us an enquiry for further details.</p>

						<a class="btn btn-lg btn-circle btn-outline-new-white" class="clicker"> BOOK NOW </a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End About -->

	<!-- Start Menu -->
	<!--<div class="menu-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>Explore The Menu</h2>
						
					</div>
				</div>
			</div>
				
			<div class="row special-list">
				<div class="col-lg-4 col-md-6 special-grid drinks">
					<div class="gallery-single fix">
						<div class="why-text">
							<h4>Special Drinks 1<span>$7.79</span></h4>
							<p>Consist Of Vegetable Samosa, Onion Bhaji, Paneer Tikka, Vegetable Pakora, Tandoori Mushroom, Served With Chutney</p>
						</div>
					</div>
				</div>
				
				<div class="col-lg-4 col-md-6 special-grid drinks">
					<div class="gallery-single fix">
						<div class="why-text">
							<h4>Special Drinks 1<span>$7.79</span></h4>
							<p>Consist Of Vegetable Samosa, Onion Bhaji, Paneer Tikka, Vegetable Pakora, Tandoori Mushroom, Served With Chutney</p>
						</div>
					</div>
				</div>
				
				<div class="col-lg-4 col-md-6 special-grid drinks">
					<div class="gallery-single fix">
						<div class="why-text">
							<h4>Special Drinks 1<span>$7.79</span></h4>
							<p>Consist Of Vegetable Samosa, Onion Bhaji, Paneer Tikka, Vegetable Pakora, Tandoori Mushroom, Served With Chutney</p>
						</div>
					</div>
				</div>
				
				<div class="col-lg-4 col-md-6 special-grid drinks">
					<div class="gallery-single fix">
						<div class="why-text">
							<h4>Special Drinks 1<span>$7.79</span></h4>
							<p>Consist Of Vegetable Samosa, Onion Bhaji, Paneer Tikka, Vegetable Pakora, Tandoori Mushroom, Served With Chutney</p>
						</div>
					</div>
				</div>
				
				<div class="col-lg-4 col-md-6 special-grid drinks">
					<div class="gallery-single fix">
						<div class="why-text">
							<h4>Special Drinks 1<span>$7.79</span></h4>
							<p>Consist Of Vegetable Samosa, Onion Bhaji, Paneer Tikka, Vegetable Pakora, Tandoori Mushroom, Served With Chutney</p>
						</div>
					</div>
				</div>
				
				<div class="col-lg-4 col-md-6 special-grid drinks">
					<div class="gallery-single fix">
						<div class="why-text">
							<h4>Special Drinks 1<span>$7.79</span></h4>
							<p>Consist Of Vegetable Samosa, Onion Bhaji, Paneer Tikka, Vegetable Pakora, Tandoori Mushroom, Served With Chutney</p>
						</div>
					</div>
				</div>
				
				<div class="col-lg-4 col-md-6 special-grid drinks">
					<div class="gallery-single fix">
						<div class="why-text">
							<h4>Special Drinks 1<span>$7.79</span></h4>
							<p>Consist Of Vegetable Samosa, Onion Bhaji, Paneer Tikka, Vegetable Pakora, Tandoori Mushroom, Served With Chutney</p>
						</div>
					</div>
				</div>
				
				<div class="col-lg-4 col-md-6 special-grid drinks">
					<div class="gallery-single fix">
						<div class="why-text">
							<h4>Special Drinks 1<span>$7.79</span></h4>
							<p>Consist Of Vegetable Samosa, Onion Bhaji, Paneer Tikka, Vegetable Pakora, Tandoori Mushroom, Served With Chutney</p>
						</div>
					</div>
				</div>
				
				<div class="col-lg-4 col-md-6 special-grid drinks">
					<div class="gallery-single fix">
						<div class="why-text">
							<h4>Special Drinks 1<span>$7.79</span></h4>
							<p>Consist Of Vegetable Samosa, Onion Bhaji, Paneer Tikka, Vegetable Pakora, Tandoori Mushroom, Served With Chutney</p>
						</div>
					</div>
				</div>
				
			</div>
			<p class="text-center more-menu"><a class="button" href="#"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">check our menu</button></a></p>
		</div>
	</div>-->
	<!-- End Menu -->

	<!-- Start Gallery -->
	<!--<div class="gallery-box">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>Gallery</h2>
						<p>Few real Photos of our dishes</p>
					</div>
				</div>
			</div>
			<div class="tz-gallery">
				<div class="row">
					<div class="col-sm-12 col-md-4 col-lg-4">
						<a class="lightbox" href="Photos/2.jpeg">
							<img class="img-fluid" src="Photos/2.jpeg" alt="Gallery Images">
						</a>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4">
						<a class="lightbox" href="Photos/3.jpeg">
							<img class="img-fluid" src="Photos/3.jpeg" alt="Gallery Images">
						</a>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4">
						<a class="lightbox" href="Photos/5.jpeg">
							<img class="img-fluid" src="Photos/5.jpeg" alt="Gallery Images">
						</a>
					</div>
					<div class="col-sm-12 col-md-4 col-lg-4">
						<a class="lightbox" href="Photos/6.jpeg">
							<img class="img-fluid" src="Photos/6.jpeg" alt="Gallery Images">
						</a>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4">
						<a class="lightbox" href="Photos/7.jpeg">
							<img class="img-fluid" src="Photos/7.jpeg" alt="Gallery Images">
						</a>
					</div> 
					<div class="col-sm-6 col-md-4 col-lg-4">
						<a class="lightbox" href="Photos/4.jpeg">
							<img class="img-fluid" src="Photos/4.jpeg" alt="Gallery Images">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>-->
	<!-- End Gallery -->

	<!-- Start Customer Reviews -->
	<div class="customer-reviews-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>HAPPY CLIENTS</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 mr-auto ml-auto text-center">
					<div id="reviews" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner mt-4">
							<div class="carousel-item text-center active">
								<h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Jennifer
										Jackline</strong></h5>
								<h6 class="text-dark m-0">May, 2019</h6>
								<p class="m-0 pt-3">I took my parents out for dinner at {{ (siteData) ?
									siteData.hotelName : ''}}. This is my 2nd time at '{{ (siteData) ?
									siteData.hotelName : ''}}' my experience with the restaurant has been consistent &
									quite positive. The staff is proactive & well equipped. We will surely come again
									and thanks for the delicious food.</p>
							</div>
							<div class="carousel-item text-center">
								<h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Crist
										Nathaniel</strong></h5>
								<h6 class="text-dark m-0">Jun, 2020</h6>
								<p class="m-0 pt-3">Arriving at 9 we were some of the last to leave as every morsel was
									to be savoured. The Tandoori Combo starter we shared before our mains. Delicious!
									The service was great and fabulous atmosphere. Even the wine choice was great,
									really complemented the flavours. Highly recommend.</p>
							</div>
							<div class="carousel-item text-center">
								<h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Shivangi
										Chaudhary</strong></h5>
								<h6 class="text-dark m-0">Jun, 2020</h6>
								<p class="m-0 pt-3">Outstanding customer service. Delicious food. Value for money. I
									went to Napier with my friends recently and had chicken malai tikka, tandoori
									chicken, dal makhani, chicken bhuna, chicken tikka masala with breads and gulab
									jamun as takeaway . Everything was perfect and so yummy.. over the food was the
									great customer service. Will definitely go there again, when re visiting Napier in
									future. Thanks 😊.</p>
							</div>
						</div>
						<a class="carousel-control-prev" href="#reviews" role="button" data-slide="prev">
							<i class="fa fa-angle-left" aria-hidden="true"></i>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next" href="#reviews" role="button" data-slide="next">
							<i class="fa fa-angle-right" aria-hidden="true"></i>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Customer Reviews -->
	<!-- start map -->
	<h1 id="contact"></h1>

	<!-- contact start -->
	<div class="qt-box qt-background-contact">
		<div class="container">
			<div class="row">
				<div class="address-sec-out">

					<h2>LOCATION</h2>
					<p>{{ (siteData) ? siteData.address[0].streetName : '' }}</br>
						{{ (siteData) ? siteData.address[0].city+ ' '+siteData.address[0].postalCode : '' }}<br>
						masterofindiahb@gmail.com</p>
				</div>
			</div>
		</div>
	</div>
	<!-- contact End  -->






	<!-- Start Footer -->
	<footer class="footer-area bg-f">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">

					<p><img src="images/logo.png" class="img-fluid"></p>
				</div>

				<div class="col-lg-6 col-md-6">
					<h3>Opening hours</h3>
					<div class="row">
						<div v-if="siteData" v-for="(workingInfo, workingInfoIndex) in siteData.workingInfo"
							class="col-sm-6">
							<p v-for="(hotelDayInfo, hotelDayInfoIndex) in  workingInfo.hotelDayInfo">
								<span v-if="(hotelDayInfo.type == 'OPENING')" class="outer-span">
									<span class="text-color">{{dayName(workingInfo.day)}} &nbsp;</span>
									<span v-if="(hotelDayInfo.running_hours[0] && hotelDayInfo.running_hours[1])">{{
										(hotelDayInfo.running_hours[0]) ?
										timeConvert(hotelDayInfo.running_hours[0].start) : ''}} - {{
										(timeConvert(hotelDayInfo.running_hours[0]) ?
										timeConvert(hotelDayInfo.running_hours[0].stop) : '')}}, {{
										(hotelDayInfo.running_hours[1]) ?
										timeConvert(hotelDayInfo.running_hours[1].start) : ''}} - {{
										(timeConvert(hotelDayInfo.running_hours[1]) ?
										timeConvert(hotelDayInfo.running_hours[1].stop) : '')}}
									</span>
									<span v-else>{{
										(hotelDayInfo.running_hours[0]) ?
										timeConvert(hotelDayInfo.running_hours[0].start) : ''}} - {{
										(timeConvert(hotelDayInfo.running_hours[0]) ?
										timeConvert(hotelDayInfo.running_hours[0].stop) : '')}}
									</span>
								</span>
							</p>
						</div>
					</div>
				</div>

				<div class="col-lg-6 col-md-6">
					<h3>DELIVERY hours</h3>
					<div class="row">
						<div v-if="siteData" v-for="(workingInfo, workingInfoIndex) in siteData.workingInfo"
							class="col-sm-6">
							<p v-for="(hotelDayInfo, hotelDayInfoIndex) in  workingInfo.hotelDayInfo">
								<span v-if="(hotelDayInfo.type == 'DELIVERY')" class="outer-span">
									<span class="text-color">{{dayName(workingInfo.day)}} &nbsp;</span>
									<span v-if="(hotelDayInfo.running_hours[0] && hotelDayInfo.running_hours[1])">{{
										(hotelDayInfo.running_hours[0]) ?
										timeConvert(hotelDayInfo.running_hours[0].start) : ''}} - {{
										(timeConvert(hotelDayInfo.running_hours[0]) ?
										timeConvert(hotelDayInfo.running_hours[0].stop) : '')}}, {{
										(hotelDayInfo.running_hours[1]) ?
										timeConvert(hotelDayInfo.running_hours[1].start) : ''}} - {{
										(timeConvert(hotelDayInfo.running_hours[1]) ?
										timeConvert(hotelDayInfo.running_hours[1].stop) : '')}}
									</span>
									<span v-else>{{
										(hotelDayInfo.running_hours[0]) ?
										timeConvert(hotelDayInfo.running_hours[0].start) : ''}} - {{
										(timeConvert(hotelDayInfo.running_hours[0]) ?
										timeConvert(hotelDayInfo.running_hours[0].stop) : '')}}
									</span>
								</span>
							</p>
						</div>
					</div>
				</div>

				
				<div class="col-lg-6 col-md-6">
					<h3>PICKUP hours</h3>
					<div class="row">
						<div v-if="siteData" v-for="(workingInfo, workingInfoIndex) in siteData.workingInfo"
							class="col-sm-6">
							<p v-for="(hotelDayInfo, hotelDayInfoIndex) in  workingInfo.hotelDayInfo">
								<span v-if="(hotelDayInfo.type == 'PICKUP')" class="outer-span">
									<span class="text-color">{{dayName(workingInfo.day)}} &nbsp;</span>
									<span v-if="(hotelDayInfo.running_hours[0] && hotelDayInfo.running_hours[1])">{{
										(hotelDayInfo.running_hours[0]) ?
										timeConvert(hotelDayInfo.running_hours[0].start) : ''}} - {{
										(timeConvert(hotelDayInfo.running_hours[0]) ?
										timeConvert(hotelDayInfo.running_hours[0].stop) : '')}}, {{
										(hotelDayInfo.running_hours[1]) ?
										timeConvert(hotelDayInfo.running_hours[1].start) : ''}} - {{
										(timeConvert(hotelDayInfo.running_hours[1]) ?
										timeConvert(hotelDayInfo.running_hours[1].stop) : '')}}
									</span>
									<span v-else>{{
										(hotelDayInfo.running_hours[0]) ?
										timeConvert(hotelDayInfo.running_hours[0].start) : ''}} - {{
										(timeConvert(hotelDayInfo.running_hours[0]) ?
										timeConvert(hotelDayInfo.running_hours[0].stop) : '')}}
									</span>
								</span>
							</p>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-6">
					<h3>FOLLOW US</h3>
					<ul class="list-inline f-social">

						<li class="list-inline-item"><a href="https://www.facebook.com/MasterOfIndiaNapier/"><i
									class="fa fa-facebook" aria-hidden="true"></i></a></li>

						<li class="list-inline-item"><a
								href="https://www.google.com/maps/place/Master+of+India+Napier/@-39.4806378,176.8955759,17z/data=!3m1!4b1!4m5!3m4!1s0x6d69b2d3e50dbd85:0xe1339156cbd1f52e!8m2!3d-39.4806248!4d176.8977504"><i
									class="fa fa-google-plus" aria-hidden="true"></i></a></li>
					</ul>
				</div>

			</div>
		</div>


		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<p class="company-name">© Copyright 2022 {{ (siteData) ? siteData.hotelName : ''}}, All Rights
							Reserved.Supported by Juvia
							<a href="http://ddinfoways.co.nz/">Juvia</a>
						</p>
					</div>
				</div>
			</div>
		</div>

	</footer>
	<!-- End Footer -->



	<!-- The Modal Start-->
	<div class="buttons-modal-out">
		<div id="myModal" class="modal fade">
			<div class="modal-dialog">
				<div class="row">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">{{ (siteData) ? siteData.alert_text : ''}}</span></h5><br>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
						<div class="modal-body">
							<img v-bind:src="(siteData) ? siteData.alert_image : ''" style="width: 100px;height: 100px;" alt="Alert Image">
							<!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
								has been the industry's standard dummy text ever</p> -->
							<!-- <form>
								<div class="row">
									<div class="col-sm-4">
										<button type="submit" class="btn btn-primary offer-pop-btn">Order
											Online</button>
									</div>
									<div class="col-sm-4">
										<button type="submit" class="btn btn-primary offer-pop-btn">Book Your
											Table</button>
									</div>
									<div class="col-sm-4">
										<button type="submit" class="btn btn-primary offer-pop-btn">Click Here</button>
									</div>
								</div>
							</form> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- The Modal End
    
	
	<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

	<!-- ALL JS FILES -->
	<script>
		window.doSomethingWithA = (sitedata) => {
			$(document).ready(function (sitedata) {
				if (sitedata.alertbanner == null) {
					$("#myModal").modal('show');
				}
			});
		}

	</script>
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<!-- ALL PLUGINS -->
	<script src="js/jquery.superslides.min.js"></script>
	<script src="js/images-loded.min.js"></script>
	<script src="js/isotope.min.js"></script>
	<script src="js/baguetteBox.min.js"></script>
	<script src="js/form-validator.min.js"></script>
	<script src="js/jquery.bxslider.min.js"></script>
	<script src="js/contact-form-script.js"></script>
	<script src="js/rp/vue.global.prod.js"></script>
	<script src="js/rp/axios.min.js"></script>
	<script src="js/rp/rp-config.js"></script>
	<script src="js/rp/rp-custom-index.js"></script>
	<script src="js/custom.js"></script>

	<script>
		var closebtns = document.getElementsByClassName("close");
		var i;

		for (i = 0; i < closebtns.length; i++) {
			closebtns[i].addEventListener("click", function () {
				this.parentElement.style.display = 'none';
			});
		}
	</script>


	<script>
		$('.slider_gallery').bxSlider({
			slideWidth: 240,
			minSlides: 2,
			maxSlides: 4,
			moveSlides: 1,
			auto: true,
			slideMargin: 30,
			pager: false,
			pause: 3000,
			useCSS: false,
		});
	</script>

</body>

</html>