<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>Master Of India</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/bxslider.css">
    <!-- bxslider CSS -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="rp-app">

    <!-- Start header -->
    <header class="top-navbar top-header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light inner-nav">
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    <img src="images/logo.png" alt="" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food"
                    aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbars-rs-food">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#about">About us</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Menu</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown-a">
                                <a class="dropdown-item" href="#">Takeaway Menu</a>
                                <a class="dropdown-item" href="#">Dine in Menu</a>
                                <a class="dropdown-item" href="#">Vegan Menu</a>
                                <a class="dropdown-item" href="#">Drinks Menu</a>
                                <a class="dropdown-item" href="#">Combo Deals</a>
                                <a class="dropdown-item" href="#">Lunch Special Menu</a>
                                <a class="dropdown-item" href="#">Dinner Menu</a>

                            </div>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- End header -->
    <!-- Start slides -->
    <div id="slides" class="cover-slides">
        <ul class="slides-container">
            <li class="text-center">
                <img src="images/slider1.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 slide-content">
                            <h1 class="m-b-20"><strong>Welcome To {{ (siteData) ? siteData.hotelName : ''}}</strong>
                            </h1>
                            <p class="m-b-40">{{(siteData) ? siteData.description : ''}} </p>
                            <p><a class="button" href="#"><button type="button" class="btn btn-primary"
                                        data-toggle="modal" data-target="#myModal">ORDER ONLINE</button></a>
                                <a class="button" href="#"><button type="button" class="btn btn-primary"
                                        data-toggle="modal" data-target="#myModal">BOOK TABLE</button></a>
                            </p>

                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="images/slider2.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 slide-content">
                            <h1 class="m-b-20"><strong>Welcome To {{ (siteData) ? siteData.hotelName : ''}}</strong>
                            </h1>
                            <p class="m-b-40">{{(siteData) ? siteData.description : ''}} </p>
                            <p><a class="button" href="#"><button type="button" class="btn btn-primary"
                                        data-toggle="modal" data-target="#myModal">ORDER ONLINE</button></a>
                                <a class="button" href="#"><button type="button" class="btn btn-primary"
                                        data-toggle="modal" data-target="#myModal">BOOK TABLE</button></a>
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="images/slider3.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 slide-content">
                            <h1 class="m-b-20"><strong>Welcome To {{ (siteData) ? siteData.hotelName : ''}}</strong>
                            </h1>
                            <p class="m-b-40">{{(siteData) ? siteData.description : ''}} </p>
                            <p><a class="button" href="#"><button type="button" class="btn btn-primary"
                                        data-toggle="modal" data-target="#myModal">ORDER ONLINE</button></a>
                                <a class="button" href="#"><button type="button" class="btn btn-primary"
                                        data-toggle="modal" data-target="#myModal">BOOK TABLE</button></a>
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="images/slider4.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 slide-content">
                            <h1 class="m-b-20"><strong>Welcome To {{ (siteData) ? siteData.hotelName : ''}}</strong>
                            </h1>
                            <p class="m-b-40">{{(siteData) ? siteData.description : ''}} </p>
                            <p><a class="button" href="#"><button type="button" class="btn btn-primary"
                                        data-toggle="modal" data-target="#myModal">ORDER ONLINE</button></a>
                                <a class="button" href="#"><button type="button" class="btn btn-primary"
                                        data-toggle="modal" data-target="#myModal">BOOK TABLE</button></a>
                            </p>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
        <div class="slides-navigation">
            <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        </div>
    </div>
    <!-- End slides -->
    <div class="menu-box">
        <!-- menu -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 menu-hedding">
                        <h2>TAKEAWAY MENU</h2>
                    </div>
                </div>
                <div class="row">
                    <!-- starter -->
                    <div class="col-sm-8 mb40 offset-md-2">
                        <div id="menus" class="menus">
                            <div v-for="(menuData, menuIndex) in menuDatas" :key="menuIndex" class="menu-block">
                                <button class="collapse-btn" data-toggle="collapse"
                                    :data-target="'#collapse_'+menuIndex" aria-expanded="true"
                                    aria-controls="collapseOne">
                                    <h3 class="menu-title">{{ menuData.label }}</h3>
                                </button>
                                <div :id="'collapse_'+menuIndex" class="collapse" aria-labelledby="headingOne"
                                    data-parent="#menus">
                                    <div class="menu-content" v-for="menuItem in menuData.item">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-9 col-sm-9 col-xs-12">
                                                <div class="dish-content">
                                                    <h5 class="dish-title"><a href="#">{{ menuItem.label }}</a></h5>
                                                    <span class="dish-meta">{{ menuItem.description }}</span>
                                                    <div class="dish-price">
                                                        <p>${{ menuItem.sale_price }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>


                    </div>
                    <!-- /.starter -->


                </div>
            </div>
        </div>
        <!-- /.menu -->
    </div>

    <!-- start map -->
    <h1 id="contact"></h1>

    <!-- contact start -->
    <div class="qt-box qt-background-contact">
        <div class="container">
            <div class="row">
                <div class="address-sec-out">

                    <h2>LOCATION</h2>
                    <p>{{ (siteData) ? siteData.address[0].streetName : '' }}</br>
                        {{ (siteData) ? siteData.address[0].city+ ' '+siteData.address[0].postalCode : '' }}<br>
                        masterofindiahb@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
    <!-- contact End  -->

    <!-- Start Footer -->
    <footer class="footer-area bg-f">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">

                    <p><img src="images/logo.png" class="img-fluid"></p>
                </div>
                <div class="col-lg-6 col-md-6">
                    <h3>Opening hours</h3>
                    <div class="row">
                        <div v-if="siteData" v-for="(workingInfo, workingInfoIndex) in siteData.workingInfo" class="col-sm-6">
                            <p v-for="(hotelDayInfo, hotelDayInfoIndex) in  workingInfo.hotelDayInfo">
                                <span v-if="(hotelDayInfo.type == 'OPENING')" class="outer-span">
                                    <span  class="text-color">{{dayName(workingInfo.day)}} &nbsp;</span>
                                    <span v-if="(hotelDayInfo.running_hours[0] && hotelDayInfo.running_hours[1])">{{
                                        (hotelDayInfo.running_hours[0]) ?
                                        timeConvert(hotelDayInfo.running_hours[0].start) : ''}} - {{
                                        (timeConvert(hotelDayInfo.running_hours[0]) ?
                                        timeConvert(hotelDayInfo.running_hours[0].stop) : '')}}, {{
                                        (hotelDayInfo.running_hours[1]) ?
                                        timeConvert(hotelDayInfo.running_hours[1].start) : ''}} - {{
                                        (timeConvert(hotelDayInfo.running_hours[1]) ?
                                        timeConvert(hotelDayInfo.running_hours[1].stop) : '')}} 
                                    </span> 
                                    <span v-else>{{
                                        (hotelDayInfo.running_hours[0]) ?
                                        timeConvert(hotelDayInfo.running_hours[0].start) : ''}} - {{
                                        (timeConvert(hotelDayInfo.running_hours[0]) ?
                                        timeConvert(hotelDayInfo.running_hours[0].stop) : '')}}
                                    </span> 
                                </span>
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6">
                    <h3>FOLLOW US</h3>
                    <ul class="list-inline f-social">

                        <li class="list-inline-item"><a href="https://www.facebook.com/MasterOfIndiaNapier/"><i
                                    class="fa fa-facebook" aria-hidden="true"></i></a></li>

                        <li class="list-inline-item"><a
                                href="https://www.google.com/maps/place/Master+of+India+Napier/@-39.4806378,176.8955759,17z/data=!3m1!4b1!4m5!3m4!1s0x6d69b2d3e50dbd85:0xe1339156cbd1f52e!8m2!3d-39.4806248!4d176.8977504"><i
                                    class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    </ul>
                </div>

            </div>
        </div>


        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="company-name">© Copyright 2022 Master Of India, All Rights Reserved.Supported by
                            Juvia
                            <a href="http://ddinfoways.co.nz/">Juvia</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>


    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="js/jquery.superslides.min.js"></script>
    <script src="js/images-loded.min.js"></script>
    <script src="js/isotope.min.js"></script>
    <script src="js/baguetteBox.min.js"></script>
    <script src="js/form-validator.min.js"></script>
    <script src="js/jquery.bxslider.min.js"></script>
    <script src="js/contact-form-script.js"></script>
    <script src="js/rp/vue.global.prod.js"></script>
    <script src="js/rp/axios.min.js"></script>
    <script src="js/rp/rp-config.js"></script>
    <script src="js/rp/rp-custom-menu.js"></script>
    <script src="js/custom.js"></script>

</body>

</html>